body {
    background-color: #073642;
    color: rgb(32, 194, 14);
    font-family: terminus;
    font-size: 18px;
}
input.form-control {
    color: rgb(195, 255, 195);;
    background-color: #073642;
}
input.form-control::placeholder {
    color: rgb(140, 190, 140);
}
@font-face {
    font-family: terminus;
    src: url(terminus.ttf);
}
td.success {
    background-color: #073642;
}
table#stat {
    font-size: 16.5px;  
}