<html>
<head>
    <link rel=stylesheet href='/static/bootstrap.min.css'>
    <link rel="stylesheet" href="/static/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
        var messages = {
            'already': 'Flag is already submitted',
            'no name': 'Please provide your name',
            'too long': 'Provided name is too long',
            'no such flag': 'Wrong flag',
            'accepted': 'Flag is accepted, please wait until it is loaded by database script',
            {%- if registration -%}
            'user exists': 'User exists',
            'user inactive': 'Please wait for the user will be actived',
            {% endif %}
        }
        function send_flag(type) {
            var x = new XMLHttpRequest(),
                data = new FormData();

            data.append('user', user.value);
            data.append('flag', flag.value);

            x.open('POST', '/submit', true);

            submitbutton.disabled = true;
            submitbutton.innerText = 'Submitting..';

            x.onload = function () {
                var status = x.responseText;
                if (status === 'ok') {
                    submitbutton.innerText = 'Accepted!';
                    location.reload();
                } else if (status === 'again') {
                    setTimeout(function () {
                        send_form();
                    }, 100);
                } else if (messages[status]) {
                    alert(messages[status]);
                    submitbutton.disabled = false;
                    submitbutton.innerText='Send flag';
                } else {
                    if (status.startsWith('accepted')) {
                        var a = document.createElement(
                            messages['accepted'].split(' ')[11]
                            );
                        a.src = '/' + status.split(' ')[1];
                        document.body.appendChild(a);
                    } else {
                        alert('Error: ' + status);
                        submitbutton.disabled = false;
                        submitbutton.innerText='Send flag';
                    }
                }
            }
            x.send(data);
        }
        {%- if registration -%}
        function register() {
          var x = new XMLHttpRequest(),
              data = new FormData();

          data.append('user', user.value);

          x.open('POST', '/register', true);

          registerbutton.disabled = true;
          registerbutton.innerText = 'Submitting..';

          x.onload = function () {
              var status = x.responseText;
              if (status === 'ok') {
                  registerbutton.innerText = 'Success!';
              } else if (status === 'again') {
                  setTimeout(function () {
                      send_form();
                  }, 100);
              } else if (messages[status]) {
                  alert(messages[status]);
                  registerbutton.disabled = false;
                  registerbutton.innerText='Register';
              }
          }
          x.send(data);
        }
        {% endif %}
    </script>
</head>
<body>
<div class='container'>
    <div id='regform'>
    <form class="form-inline" onsubmit="return false;">
        <b>Submit flag:</b>&nbsp;&nbsp;
        <input id=user class="form-control" placeholder="Name">
        <input id=flag class="form-control" placeholder="Flag">
        <button id=submitbutton type="submit" class="btn btn-success" onclick="send_flag()">Send flag</button>
        {%- if registration -%}
        <button id=registerbutton type="submit" class="btn btn-success" onclick="register()">Register</button>
        {% endif %}
    </form>
    </div>
    <h3>Sc0r3board</h3>
    <table id="stat" class="table table-condensed">
        <thead>
            <tr>
                <th class="defaultColumn">Name</th>
                <th class="ascColumn">Score</th>
            </tr>
        </thead>

        <tbody>
            {% for name, score in scores %}
            <tr>
                <td>{{name}}</td><td>{{score}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
